<template>
    <div class="calculator_wrapper">
        <div class="row">
            <div class="col-6">
                <div class="calculator card">

                    <input type="text" class="calculator-screen" disabled v-model="values"/>

                    <div class="calculator-keys">

                        <button @click="makeOperation('+')" type="button" class="btn btn-info">+</button>
                        <button @click="makeOperation('-')" type="button" class="btn btn-info">-</button>
                        <button @click="makeOperation('*')" type="button" class="btn btn-info">&times;</button>
                        <button @click="makeOperation('/')" type="button" class="btn btn-info">&divide;</button>

                        <button @click="makeOperation('7')" type="button" class="btn btn-light waves-effect">7</button>
                        <button @click="makeOperation('8')" type="button" class="btn btn-light waves-effect">8</button>
                        <button @click="makeOperation('9')" type="button" class="btn btn-light waves-effect">9</button>

                        <button @click="makeOperation('4')" type="button" class="btn btn-light waves-effect">4</button>
                        <button @click="makeOperation('5')" type="button" class="btn btn-light waves-effect">5</button>
                        <button @click="makeOperation('6')" type="button" class="btn btn-light waves-effect">6</button>

                        <button @click="makeOperation('1')" type="button" class="btn btn-light waves-effect">1</button>
                        <button @click="makeOperation('2')" type="button" class="btn btn-light waves-effect">2</button>
                        <button @click="makeOperation('3')" type="button" class="btn btn-light waves-effect">3</button>

                        <button @click="makeOperation('0')" type="button" class="btn btn-light waves-effect">0</button>
                        <button @click="makeOperation('.')" type="button" class="btn btn-secondary">.</button>
                        <button @click="makeOperation('AC')" type="button" class="btn btn-danger btn-sm">AC</button>

                        <button @click="calculateData" type="button" class="equal-sign btn btn-success">=</button>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <h4>Calculator log</h4>
                <ul v-if="logs.length" v-for="log in logs">
                    <li>{{ log }}</li>
                </ul>
            </div>
        </div>
        <div v-if="user_id != 'unauthorized'" class="row">
            <div class="col-12">
                <button v-if="logs.length" @click="saveLog" class="btn btn-success log_btn">Save your log</button>

                <div v-if="user_logs.length">
                    <h4>Available logs for download</h4>
                    <ul v-for="(user_log, index) in user_logs">
                        <li v-if="user_log"><a @click="downloadLog(index)">{{ user_log }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		data() {
			return {
				values: '',
                logs: [],
                user_id: 'unauthorized',
                calculated: false,
                user_logs: []
			}
		},

        mounted() {
			this.getUserId();
			this.getUserLogs();
		},

		methods: {
			makeOperation: function (value) {
				if (this.calculated) {
					this.calculated = false;
					this.values = '';
                }
				if (value == 'AC') {
					this.values = '';
                } else {
					this.values += value;
                }
			},
            
            getUserId: function() {
				axios.get('/get-user-id')
					.then((response) => {
						this.user_id = response.data;
					}).catch((error) => {
					    console.log(error);
                    });
            },

            calculateData: function () {
				var operations = this.values;
				var result = eval(operations);
				this.values = result;
				this.logs.push(operations + '=' + result);
				this.calculated = true;
			},

			saveLog: function () {
				axios.post('/save-user-log', {
					log: JSON.stringify(this.logs),
                    user_id: this.user_id
                }).then((response) => {
					this.logs = [];
					this.values = '';

					if (response.data) {
						this.user_logs[response.data.id] = response.data.log;
                    }

					alert('Your log was saved with success.');
                }).catch((error) => {
					console.log(error);
				});
			},

            getUserLogs: function () {
				axios.get('/get-user-logs')
					.then((response) => {
						var collect_logs = [];
						response.data.forEach(function (item) {
							collect_logs[item.id] = item.log;
						});
						this.user_logs = collect_logs;
					}).catch((error) => {
					    console.log(error);
				    });
			},

			/*INFO: Also this part could be on the server, when user save the log, I could create a file,
			    but I decided to create the file in that moment when he wanna download it,
			    I hope is not a bad idea :) */

			downloadLog(log_id) {
				axios.post('/download-user-log', {
					log_id: log_id,
					user_id: this.user_id
                }).then((file_url) => {
					if (file_url.data != 'false') {
						this.makeDownload(file_url.data, log_id);
                    }
				}).catch((error) => {
					console.log(error);
				});
            },

            makeDownload(file_url, log_id) {
				fetch(file_url)
					.then(resp => resp.blob())
					.then(blob => {
						const url = window.URL.createObjectURL(blob);
						const a = document.createElement('a');
						a.style.display = 'none';
						a.href = url;
						// the filename you want
						a.download = log_id + '_log.txt';
						document.body.appendChild(a);
						a.click();
						window.URL.revokeObjectURL(url);
						alert('Your file has downloaded.');
					})
					.catch(() => alert('Error while downloading.'));
            }
		}
    }
</script>

<style scoped lang="scss">
    .calculator_wrapper {
        ul {
            list-style: none;
        }
        a {
            color: blue;
            cursor: pointer;
        }
    }
</style>