@import "../../vendor/bootstrap/scss/bootstrap";

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0 auto;

  .calculator-screen {
	width: 100%;
	height: 80px;
	border: none;
	background-color: #252525;
	color: #fff;
	text-align: right;
	padding-right: 20px;
	padding-left: 10px;
	font-size: 4rem;
  }

  button {
	height: 60px;
	font-size: 2rem!important;
  }

  .equal-sign {
	height: 98%;
	grid-area: 2 / 4 / 6 / 5;
  }

  .calculator-keys {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding: 20px;
  }
}
